@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:wght@300&family=Playfair+Display:ital@1&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
}

.LoginBox {
    height: 100vh;
    background: rgb(209, 209, 209);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .LoginContainer{
    min-height: 400px;
    width: 400px;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #0000;
  }

.LoginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .LoginInput{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
 }

 .LoginSpam{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.LoginSpam::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;  
    background: linear-gradient(120deg, #e75590, #00c2cb);
    transition: .3s ease-in-out;
}

.LoginInput:focus + .LoginSpam::after{
   width: 100%;
}

.LoginBotaoCadastrar{
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, #e75590, #00c2cb);
    background-size: 200%;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
 }
 
 /*animacao do botao*/
 .LoginBotaoCadastrar:hover{
     background-position: right;
 }

 hr{
   background: linear-gradient(120deg, #e75590, #00c2cb);
 }

 
 .LoginBotaoCadastrar2{
  background: linear-gradient(120deg, #6b0e33, #00c2cb);
  color: #FFF;
  font-weight: bold;
  border: unset;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

/*animacao do botao*/
.LoginBotaoCadastrar2:hover{
   background-position: right;
}


.containerDashboardLayout{

}

.titleDashboardLayout{

}

nav ul{
  padding: 35px 20px;
  list-style-type: none;
  overflow: hidden;
  background-color: #c0c0c0;
}

